<nav id="navbar" [class.py-4]="!scrolled" [class.py-2]="scrolled"
  class="navbar fixed-top z-2 navbar-expand-lg fw-bold bg-navbar" (mouseout)="onscrolled()">
  <div class="container">
    <a class="navbar-brand text-white fs-2" routerLink="">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white d-inline-block" aria-current="page" routerLink="About"
            routerLinkActive="current">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-lg-3 text-white d-inline-block" aria-current="page" routerLink="Portfolio"
            routerLinkActive="current">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white d-inline-block" aria-current="page" routerLink="Contact"
            routerLinkActive="current">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>