<div class=" mt-4 text-white bg-start d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <div class="mt-4">
                <img src="./assets/images/avataaars.svg" alt="avatar" class="w-60 mb-4 mt-5" />
            <h1 class="fw-bold mt-3 mb-0">START FRAMEWORK</h1>
            <div class="position-relative">
                <i class="fa-solid fa-star my-3"></i>
                <div class="before position-absolute bg-white">

                </div>
                <div class="after position-absolute bg-white">

                </div>
            </div>
            <p class="my-0">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>