<div class="container-fluid info-bg">
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-4 text-white text-center">
                <div class="pe-sm-5 my-5">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-sm-4 text-white text-center">
                <div class="my-5">
                    <h3>AROUND THE WEB</h3>
                    <span>
                        <i class="fa-brands fa-facebook icons p-2 mx-1"></i>
                        <i class="fa-brands fa-twitter icons p-2 mx-1"></i>
                        <i class="fa-brands fa-linkedin-in icons p-2 mx-1"></i>
                        <i class="fa-solid fa-globe icons p-2 mx-1"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 text-white text-center">
                <div class="ps-sm-5 my-5">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-2 pt-4 bg-copyright text-center">
    <p class="text-white">Copyright © Your Website 2021</p>
</div>